@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

}

h1,
h2,
h3,
a {
  font-family: 'Rock Salt', cursive;
}

body {
  font-family: sans-serif;
}

/* Custom arrow style */
.timeline-arrow::after {
  content: '';
  position: absolute;
  bottom: -10px;
  /* Adjust as needed */
  left: -12px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  /* Adjust size */
  border-right: 10px solid transparent;
  /* Adjust size */
  border-top: 10px solid #1f2937;
  /* Match your border color */
}

/* Reduce vertical spacing */
.vertical-timeline-element {
  padding: 0;
  margin: 0;

  /* Decrease the top and bottom margin */
}



.vertical-timeline::before {
  width: 0px;
  /* Make the timeline line thinner */
}

/* Shrink element sizes */
.vertical-timeline-element-date {

  margin: 0 auto;
  /* padding: 0 !important; */

}

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 40px; */
  background: transparent;

  border: none;
  box-shadow: none;
  /* Decrease the icon width */
  /* Decrease the icon height */
  ;
}

/* Customize text styling */
.vertical-timeline-element-content {
  font-size: 18px;
  padding: 0;
  border: none;
  margin: 0;
  /* Decrease font size */
  /* padding: 2px; */
  /* Adjust padding */

}

.vertical-timeline-element-content p {

  font-size: 14px;
  margin: 0;
  padding: 0;
}

.vertical-timeline-element-content span {

  font-size: 14px;
  margin: 0;
  padding: 0;
}

.background-desktop {
  background-image: url('./assets/homepage2.jpg');
}

.background-mobile {
  background-image: url('./assets/mobilehomepage2.jpg');
}

/* Media query for screens smaller than 768px (common breakpoint for tablets) */
@media screen and (max-width: 768px) {
  .background-desktop {
    display: none;
  }

  .background-mobile {
    display: block;
  }
}

/* For larger screens */
@media screen and (min-width: 769px) {
  .background-desktop {
    display: block;
  }

  .background-mobile {
    display: none;
  }
}

/* 
blue
#0F274C
green
#315043
light
#7D8171
*/